:root {
  --transition-duration-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;

  --scroll-animation-duration-fast: 20s;
  --scroll-animation-duration-normal: 40s;
  --scroll-animation-duration-slow: 60s;
}
